{% extends "base1.html" %}
{% load static %}

{% block title %}Pay your order{% endblock %}

{% block content %}
    <h1>Order summary</h1>
        <thead>
            <tr>
                <th>Course</th>
                <th>Price</th>
                <th>Instructor</th>
                <th>Modules</th>
            </tr>
        </thead>
        <tbody>
                <tr class="row {% cycle '1' '2' %}">
                    <td>{{ course.title }}</td>
                    <td class="num">{{ pay_course.price }} BLR</td>
                    <td class="num">{{ course.owner.get_full_name }}</td>
                    <td>{{ course.modules }}</td>
                </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method="post">
        <input type="submit" value="Pay now">
        {% csrf_token %}
    </form>
{% endblock %}