{% extends "base.html" %}

{% block title %}
  {{ object.user.first_name }}
{% endblock %}

{% block content %}
{{ count_course.total_courses }}
{% if courses is None %}
You don't enroll any course.
You can choices courses:
<p>
    <a href="{% url 'course_list' %}">Course list</a>
</p>
{% else %}
    You enroll in this courses:
        {% for course in courses %}
            <p>
                <a href="{% url 'course_detail' course.slug%}">{{ course.title }}</a>
                <p>
                    descpition of course: {{ course.description }}
                </p>
            </p>
        {% endfor %}
    Edit your profile details:
    <p>
        <a href="{% url 'edit' %}">Edit</a>
    </p>
{% endif %}
{% endblock %}