{% extends "base.html" %}

{% block title %}
  {{ object.user.first_name }}
{% endblock %}

{% block content %}
    You enroll in this courses:
        {% for course in courses %}
            <p>
                <a href="{% url 'course_detail' course.slug%}">{{ course.title }}</a>
                <p>
                    descpition of course: {{ course.description }}
                </p>
            </p>
        {% endfor %}
    Edit your profile details:
    <p>
        <a href="{% url 'edit' %}">Edit</a>
    </p>
{% endblock %}